/*  RESET RESET RESET RESET RESET RESET RESET */
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--mainColor);
}
li {
  list-style-type: none;
}

/*  GLOBAL VARIABLES  GLOBAL VARIABLES  GLOBAL VARIABLES  GLOBAL VARIABLES  GLOBAL VARIABLES  */
:root {
  --mainColor: lch(6 32 287);;
  --saillanceColor: lch(69 56 247);
  --darkColor:lch(6 32 287);
  --lightColor:lch(69 56 247 / 0.7);
}

/*Styles for extra app elements*/

html {
  overflow: hidden;
}
body {
  max-height: 100svh;
  font-family: 'Exo 2', serif;
  overflow: hidden;
}
#app {
  overflow: hidden;
}

/*Default styles for elements in several components*/

button {
  cursor: pointer;
  font-family: 'Exo 2', serif;
  background: transparent;
  border: none;
}

*:focus-visible {
  transition: all ease-in-out 100ms;
  outline: 3px solid var(--saillanceColor);
  color: var(--saillanceColor);
  outline-offset: 8px;
  border-radius: 4px;
}

h1 {
  color: var(--mainColor);
}
/* @property --property-name {
  syntax: "<color>";
  inherits: false;
  initial-value: ;
} */

/****| TABLET |****/ /****| TABLET |****/ /****| TABLET |****/ /****| TABLET |****/ /****| TABLET |****/
@media screen and (767px < width < 1024px) {
  p {
    line-height: 1.4rem;
  }
}

/*style sheet template*/

/***|| SMARTPHONE ||***/ /***|| SMARTPHONE ||***/ /***|| SMARTPHONE ||***/ /***|| SMARTPHONE ||***/

/****| TABLET |****/ /****| TABLET |****/ /****| TABLET |****/ /****| TABLET |****/ /****| TABLET |****/
/* @media screen and (767px < width < 1024px) {
} */

/***** LAPTOP *****/ /***** LAPTOP *****/ /***** LAPTOP *****/ /***** LAPTOP *****/ /***** LAPTOP *****/
/* @media screen and (1024px <= width) and (orientation: landscape) {
} */
