/*  RESET RESET RESET RESET RESET RESET RESET */
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style-type: none;
}

/*Styles for extra component html elements*/
:root {
  /* --mainColor: #54143b; */
  --mainColor: black;
  --saillanceColor: rgb(26, 179, 234);
  --bannerHeight: 64px;
  --mainHeight: 66vh;
}

html {
  overflow: hidden;
}
body {
  max-height: 100vh;
  font-family: 'Exo 2', serif;
  overflow: hidden;
}
#app {
  overflow: hidden;
}

/*Default styles for elements in several components*/

button {
  cursor: pointer;
  font-family: 'Exo 2', serif;
  background: transparent;
  border: none;
}

*:focus-visible {
  transition: all ease-in-out 100ms;
  outline: 3px solid var(--saillanceColor);
  color: var(--saillanceColor);
  outline-offset: 8px;
  border-radius: 4px;
}

h1 {
  color: var(--mainColor);
}
/* @property --property-name {
  syntax: "<color>";
  inherits: false;
  initial-value: ;
} */

/****| TABLET |****/ /****| TABLET |****/ /****| TABLET |****/ /****| TABLET |****/ /****| TABLET |****/
@media screen and (767px < width < 1024px) {
  :root {
    --bannerHeight: 8vh;
    --mainHeight: 76vh;

    --borderRadius: var(--bannerHeight);
    --tabX: calc(100vw - var(--navWidth));
    --navWidth: 50vw;
  }

  p {
    line-height: 1.4rem;
  }
}

/*style sheet template*/

/***|| SMARTPHONE ||***/ /***|| SMARTPHONE ||***/ /***|| SMARTPHONE ||***/ /***|| SMARTPHONE ||***/

/****| TABLET |****/ /****| TABLET |****/ /****| TABLET |****/ /****| TABLET |****/ /****| TABLET |****/
@media screen and (767px < width < 1024px) {
}
/***** LAPTOP *****/ /***** LAPTOP *****/ /***** LAPTOP *****/ /***** LAPTOP *****/ /***** LAPTOP *****/
@media screen and (1024px <= width) and (orientation: landscape) {
  :root {
    --bannerHeight: 10vh;
  }
}
