/*  RESET RESET RESET RESET RESET RESET RESET */
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style-type: none;
}

/*Styles for html elements not in component*/

html {
  overflow: hidden;
}
body {
  /* min-height: 100vh; */
  max-height: 100vh;
  font-family: 'Exo 2', serif;
  overflow: hidden;
}
#app {
  overflow: hidden;
}

/*Default styles for elements in several components*/

button {
  cursor: pointer;
  font-family: 'Exo 2', serif;
  font-size: 1rem;
  background: white;
  border: none;
}
:root {
  --saillanceColor: rgb(26, 179, 234);
}
/* @property --property-name {
  syntax: "<color>";
  inherits: false;
  initial-value: ;
} */

/****| TABLET |****/ /****| TABLET |****/ /****| TABLET |****/ /****| TABLET |****/ /****| TABLET |****/
@media screen and (767px < width < 1024px) {
  p,
  a,
  span {
    font-size: 1.1rem;
  }
  p {
    line-height: 1.4rem;
  }
}

/*style sheet template*/

/***|| SMARTPHONE ||***/ /***|| SMARTPHONE ||***/ /***|| SMARTPHONE ||***/ /***|| SMARTPHONE ||***/

/****| TABLET |****/ /****| TABLET |****/ /****| TABLET |****/ /****| TABLET |****/ /****| TABLET |****/
@media screen and (767px < width < 1024px) {
}
/***** LAPTOP *****/ /***** LAPTOP *****/ /***** LAPTOP *****/ /***** LAPTOP *****/ /***** LAPTOP *****/
@media screen and (1024px <= width) and (orientation: landscape) {
}
