@import './base.css';

/*Styles for class common to different elements*/
.main--scroll-x {
  height: 80vh;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  display: flex;
  flex-flow: row;
}
.title--vertical {
  font-family: 'Questrial', serif;
  writing-mode: vertical-lr;
  font-weight: 700;
}
.title--small {
  font-size: 1.2rem;
  font-weight: 700;
}
.title--italic {
  font-style: italic;
}
